@media screen and (max-width: 767px) {
    .container {
    width: 480px;
    padding-left: auto;
    padding-right: auto;
}
.contact {
    padding-bottom: 80px;
    background-color: #edd9ca;
    background-image: linear-gradient(rgba(65, 15, 15, 0.7), rgb(130, 88, 63, 0.2));
    border: #ad827e solid 2px;
}
.contact-board {
    display: block;
        align-content: center;
        width: 380px;
        height: 480px;
        border: 0px solid #582930;
        background-image: linear-gradient(rgba(78, 19, 19, 0.7), rgb(130, 88, 63, 0.2));
        padding-top: 0px;
        padding-bottom: 180px;
        margin-left: 55px;
        margin-top: -45px;
        }
        .menu-link {
         display: block;
         margin-left: 20px;
        }
        
        .text-list {
            padding-top: 40px;
        }
        .social-sign{
            display: flex;
            justify-content: center;
      
        }
        .facebook {
            margin-right: 30px;
        }
}