/*============CONTACT===============*/
.contact {
    padding-top: 80px; /*отступы м/ж секциями*/
   padding-bottom: 130px;
    background-color: #edd9ca;
    background-image: linear-gradient(rgba(65, 15, 15, 0.7), rgb(130, 88, 63, 0.2));
    border: #ad827e solid 2px;
    }

    .contact-board {
        display: block;
        align-content: center;
        width: 1000px;
        height: 150px;
        border: 0px solid #582930;
        background-image: linear-gradient(rgba(78, 19, 19, 0.7), rgb(130, 88, 63, 0.2));
        padding-top: 40px;
        padding-bottom: 180px;
        margin-left: 100px;
        }

    .adress-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    } 

   .contact-block {
    display: flex;
    justify-content: space-evenly;
  
}
    .contact-block {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.36;
    letter-spacing: 0.02em;
    text-align: center;
     margin-top: 0px;
     margin-bottom: 20px;
    }
    .social-sign {
        display: flex;
        margin-top: -40px;
    }
    .social-sign {
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
    }