
@media screen and (min-width: 768px) and (max-width: 1199px) {        
    
  .page-header {
    width: 768px;
}  
      .tel {
       display: none;
     }
     .menu {
      display: none;
  }
  .page-header-modal-btn {
    display: none;
}
  }
   /* .page-nav {
      position: absolute;
    }
      }    
     
@media screen and (min-width: 481px) and (max-width: 1199px) {         
    
      .page-header-modal-btn {
        font-size: 10px;
      }
 }
 @media screen and (min-width: 767px) {
    .mobile-menu-open {
        display: none;
     
    }
}  */
