
@media screen and (max-width: 767px) {   
    .menu {
       display: none;
    } } /*
    .page-header-modal-btn {
        display: none;
     }
    }

    @media screen and (max-width: 480px) {         
        .logo-imge {
           width: 10px;
          }
        }

 @media screen and (min-width: 360px) {         
            .mobile-menu-open {
               fill: white;
              }
              .mobile-menu-open {
           
                margin-left: auto;
                margin-right: 20px;
            }
        }*/

        @media screen and (max-width: 767px) {
            .page-header {
                width: 448px;
            }
            .menu {
                display: none;
            }

            .tel {
                display: none;
            }
          
            .page-header-modal-btn {
                display: none;
            }
            .logo {
                width: 70px;
                height: 70px;
            }
        }