:root {
    --main-color: #a44949;
    }
    h1,
    h2,
    h3,
    h4,
    p { 
        margin-top: 0;
        margin-bottom: 0;
    }
    ol,
    ul { 
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
    }
    img {
        display: block;
    }
    button {
    cursor: pointer;
    }
.list {
    list-style: none;
}
 a {
    text-decoration: none;
 }
  fieldset{
    border: none;
    padding: 0;
  }
  input{
    width: 20px;
  }
  .container{
   
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    }

    .page-header {
        position: absolute;
    }
    
    
    @media screen and (min-width: 1200px) {
        .container{
        width: 1200px;
    }
    }
 .visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
 }
    /* body{
       
      background-image: url(../img/fon.jpg);
      background-size: 1230px;
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
    }*/
 /*===========HEADER===========*/
 .shop-btn-main {
    fill: white;
 }
.page-header-container {
    display: flex;
    align-items: center;

}
.page-header {
    padding-top: 40px;
    padding-bottom: 40px;
}


.mobile-menu-open {
    display: flex;
}
.mobile-btn {
    background-color: transparent;
    border: none;
    line-height: 0;
}

    .page-nav {
        display: flex;
        align-items: center;
    }
    .menu {
        display: flex;
        align-items: center;
    }
    menu-item:not(:last-child) {
        margin-right: 40px;
    }
    .menu-link {
        margin-right: 20px;
        font-family: 'Open Sans', sans-serif;
        font-size: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.1em;
        color: white;
        transition: color 250ms linear;
     }
     .menu-link:hover,
     .menu-link:focus {
        color: var(--main-color);
    }
   
    .modal-btn {
        margin-right: 30px;
        padding-left: 5px;
        padding-right: 5px;
        border: 1px solid white;
        border-radius: 25px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.09em;
        text-transform: uppercase;
        background-color: transparent; 
        color:white;
        border: 1px solid white;
        padding: 5px;
        width: 160px;
        transition-property: background-color;
        transition-duration: 1000ms;
    
    }
     .modal-btn:hover,
     .modal-btn:focus {
        background-color: white;
        color:  #582930;
     }
     .logo {
        margin-right: 70px;
     }



     @media  screen and (min-width: 1200px) {
        .page-header {
            position: absolute;
            width: 100%;
            padding-top: 32px;
            padding-bottom: 32px;
        }
     

        .page-header-container {
        justify-content: flex-start;
      
}
        .menu-item:not(:last-child) {
        margin-right: 40px;
}

   
 .info-btn{
    padding-left: 20px;
    display: flex;
    justify-content: center;
 }

    .tel {
   margin-left: 100px;
   padding-right: 100px;
    color: white;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     }

 .tel:hover,
 .tel:focus {
    color: rosybrown;
 }
}
 
 /*============ SHOP PAGE =============*/
    
    /*.card-overlay1{
        display: block;
        position: relative;
              
    }
    .card-overlay:hover .overlay,
    .card-overlay:focus .overlay
    {
        transform: translate(0, 0);
    }

    .wrapper{
        position: relative; 
        overflow: hidden;  
    }

    .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    transform:translate(100%, 0);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(250, 240, 240, 0.9);
    background-image: linear-gradient(rgba(99, 8, 8, 0.9), rgba(145, 109, 110, 0.2));
    transition: transform 500ms linear;
    }*/
 
    
  








 /*============CONTACT===============*/
    /*.contact{
    padding-top: 80px; /*отступы м/ж секциями*/
   /* padding-bottom: 130px;
    background-color: #edd9ca;
    background-image: linear-gradient(rgba(65, 15, 15, 0.7), rgb(130, 88, 63, 0.2));
    border: #ad827e solid 2px;
    }

    .contact-board{
        display: block;
        justify-content: center;
        width: 1000px;
        height: 150px;
        border: 0px solid #582930;
        background-image: linear-gradient(rgba(78, 19, 19, 0.7), rgb(130, 88, 63, 0.2));
        padding-top: 40px;
        padding-bottom: 180px;
        }

    .adress-block{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    } 

   .contact-block {
    display: flex;
    justify-content: space-evenly;
  
}
    .contact-block {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.36;
    letter-spacing: 0.02em;
    /*============color: #FFFFFF;*/
    /* text-align: center;
     margin-top: 0px;
     margin-bottom: 20px;
    }
    .social-sign{
        display: flex;
        margin-top: -40px;
    }
  
    /*===============FOOTER============*/
    /*.social-sign{
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
    }

   /*============MODAL WINDOW=========*/

       /*.back-drop{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        
        transition: opacity 300ms linear, visibility 300ms linear;
    }

    .back-drop.is-hidden { /*close window*/
        /*opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .modal{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 528px;
        height: 600px;
        background-color: #FFFFFF;
        padding: 40px;
    }
           
       .modal-close-btn {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: start;
        top: 20px;
        right: 20px;
        margin: 0;
        padding: 0;
        border-radius: 50%;
        background-color: transparent;
        width: 30px;
        height: 30px;
        border: 1px solid #695256;
       }

       .modal-close-btn:hover,
       .modal-close-btn:focus {
        background-color: #8d646a;
       }
    /*=========/modal form/========*/

    /*.modal-form{
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-weight: 700;
        list-style: 1.2;
         
    }
    .text-form{
        margin: 10px 20px;
        text-align: center;
    }
    .modal-form-input-desc{
        display: block;
        font-size: 14px;
        font-weight: 600;
        list-style: 1.2;
        margin-bottom: 6px;
        margin-top: 8px;
        color: #582930;
    }

    .modal-form-input{
        width: 100%;
        height: 40px;
        border: 1px solid #582930;
        border-radius: 4px;
        padding-left: 42px;
        transition: border-color 300ms linear;

     }
     
     .modal-form-input:focus{
        outline: none;
        border-color: #695256;        
    
     }

     .modal-form-input:focus + .modal-form-input-icon{
       fill: #dba0aa;
     }

   .modal-form-field{
    margin-bottom: 8px;
   }
   .modal-form-input-wrapper{
    display: block;
    position: relative;
   }

   .modal-form-input-icon{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    margin-left: 12px;
    transition: fill 300ms linear;
   }

   .modal-form-message{
    margin-top: 4px;
    resize: none;
    width: 100%;
    height: 100px;
    padding: 10px 16px;
    border: 1px solid #582930;
    border-radius: 4px;
    transition: border-color 300ms linear;
    }
   .modal-form-message:focus{
    outline: none;
    border-color: #695256;

   }

   .modal-form-message::placeholder{
    color: #582930;
    font-size: 14px;
   }

   .model-form-submit{
    align-self: center;
    width: 200px;
    height: 30px;
    text-align: center;
    padding: 8px;
    border: 1px solid #582930;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 10px;
    line-height: 1.33;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    /*прозрачная*/
    /*background-color: #dba0aa; 
    color: #582930;
    transition-property: background-color;
    transition-duration: 500ms;
 }
 .model-form-submit:hover,
 .model-form-submit:focus {
    background-color: #ad827e;
    color: white;
   }

/*========checkbox policy===========*/
   /*.modal-form-check-desc::before{ /*checkbox фейковый: на lable ставлю before (label связан с chebox через id)*/
   /* display: block;

    width: 18px;
    height: 18px;
    content: '';
    border: 1px solid #695256;
    border-radius: 4px;
    cursor: pointer;
   }
/*когда я кликаю (состояние checked) на lable(в before), я могу достучаться до input */
   /*.modal-form-check:checked + .modal-form-check-desc::before{
    background-color: #8d646a;
    box-shadow: inset 0 0 0 3px white;
    background-image: url(../icon/checkmark.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 8px;
   }

   .modal-form-check:focus + .modal-form-check-desc::before{
    outline: 2px solid #a44949;
   }

   .modal-form-check-desc{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    margin-bottom: 10px;
   } */