/*

    .hero-container {
            position: relative;
            width: 100%;
            height: 100%;
            padding-left: 10px;
            padding-right: 10px;
        }
*/

    @media screen and (max-width: 767px) {
            .container {
            width: 480px;
            padding-left: auto;
            padding-right: auto;
        }
        .hero-left-side {
            display: none;
        }
        .left-right {
            width: 480;
            padding-left: 0px;
            padding-right: 0px;
            height: 720px;
        flex-grow: 1;
        background: #ad827e;
        background-image: linear-gradient(rgba(226, 220, 220, 0.1), rgb(130, 88, 63, 0.7)), url(/hero_img/bg3_mobile.jpg);
        background-size: cover;
        }
        .hero-right-side {
            width: 478px;
            padding-left: 10px;
            padding-right: 10px;
        }
        .suptitle {
            display: flex;
            margin-left: 30px;
            padding-top: 240px;
            padding-bottom: 20px;
      
        align-items: center;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 10px;
        line-height: 1.36;
        letter-spacing: 0.1em;
        color: white;
     }
        .suptitle::before {
        display: block;
        width: 60px;
        height: 1px;
        background-color: #fefefe;
        content: '';
        margin-right: 20px;
        margin-left: 0px;
     }  
       
        .main-title {
        
        margin-left: 20px;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 48px;
        line-height: 1.18;
        letter-spacing: 0.05em;
        color: #FFFFFF;
      }
     
        .suptitle1 {
        padding-top: 10px;   
        text-align: start;
        margin-left: 20px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 12px;
        line-height: 1.36;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-top: 20px;
     }
        .page-nav {
        position: absolute;
     }
        .mobile-menu-open {
            margin-left: auto;
            fill: white;
        }
        .mobile-btn {
            margin-right: 20px;
        }
    
}
