@media screen and (max-width: 767px) {
    .container {
    width: 480px;
    padding-left: auto;
    padding-right: auto;
}
.parf-page {
    width: 480px;
    padding-left: 10px;
    padding-right: 10px;
}
.parf-page {
    padding-bottom: 30px;
     }
     .text-list-title {
    
        text-align: center;
        text-align: center;
        margin-bottom: 50px;
        margin-top: 30px;
        color: #582930;
    
      }
      .card {
        width: 290px;
        height: 320px;
        border: 1px solid #582930
       
    }
    .card-name {
        text-align: center;
        margin-right: 0px;
        }

        .shop-btn {
        margin-left: 40px;
        }

}